<h3>{{authors.length}} Authors</h3>

<ul>
    <li *ngFor='let author of authors'>{{author}}</li>
</ul>

<kbd>Property Binding works one way - from Angular Component to DOM</kbd>
<br>
<br>
<br>

<img src="{{imageUrl}}" alt="Krantesh Singh">

<br>
<br>
<br>
<table style="border: 2px solid black;">
    <tr>
        <td [attr.colspan]='colSpan'>5</td>
        <td [attr.colspan]='colSpan'>5</td>
        <td [attr.colspan]='colSpan'>5</td>
    </tr>
    <tr>
        <td [attr.colspan]='colSpan'>5</td>
        <td [attr.colspan]='colSpan'>5</td>
        <td [attr.colspan]='colSpan'>5</td>
    </tr>
    <tr>
        <td [attr.colspan]='colSpan'>5</td>
        <td [attr.colspan]='colSpan'>5</td>
        <td [attr.colspan]='colSpan'>5</td>
    </tr>
</table>

<br>
<br>

<button class="btn btn-large btn-info">CLICK ME</button>